extend default

block content
        div.grid
            div.header #{placeholder1}
            div.main main
            div.sidebar side
            div.twin1 twin
            div.twin2 twin2
            div.footer #{placeholder2}