extend default
block content
    div.grid3
        div.header3 Header
        div.sidebar3
            li Sidebar
        div.aside3
            div Welcome
                p Hi
        div.footer3 Footer